@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0; 
}

body{
		/*
	hide background color for the meantime
	background-color: white;
	*/
	background-color: #FAFAFA;
	position: relative;
}

nav {
	/*
	hide background color for the meantime
	background-color: white;
	*/
	background-color: #EEEEEE;
	width: 25%;
	min-height: 100%;
	position: fixed;
	-webkit-box-shadow: 1px 0px 11px 0px rgba(50, 50, 50, 0.72);
	-moz-box-shadow:    1px 0px 11px 0px rgba(50, 50, 50, 0.72);
	box-shadow:         1px 0px 11px 0px rgba(50, 50, 50, 0.72);
}

#nav_header {
	/*
	hide background color for the meantime
	background-color: #FF00FF;
	*/
	width: 100%;
	height: 40%;
}

#header_image {
	vertical-align: middle;
	margin: auto;
	width: 50%;
	height: auto;
	padding-top: 5%;
}

#header_image a {
	display: block;
	background-size: cover;
	background-position: 50%;
	width: 100%;
	height: 0;
	padding: 50% 0;
	border-radius: 50%;
}

#header_image:first-of-type a {
	background-image: url('../images/header.png');
}

#header_text {
	text-align:center;
	margin: auto;
	width: 80%;
	height: 10%;
	text-align: center;
	vertical-align: middle;
}

#header_text h1{
	font-weight: 800;
}

#header_text p{
	font-weight: 300;
}


#nav_menu {
	width: 100%;
	height: 50%;
}

#nav_menu ul{
    list-style-type: none;
    margin-left: 10%;
    margin-top: 10%;
    padding: 0;
    height: 10%;
}

#nav_menu li a {
    display: block;
    color: black;
    text-decoration: none;
}

#nav_menu li a:hover {
    font-weight: 700;
}

#nav_footer{
	width: 100%;
	height: 10%;
	position: absolute;
    bottom: 0;
}

#nav_links {
	text-align: center;
	width:100%;
	height: 50%;
}

#nav_links a{
	text-align: center;
	display: inline;
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}

#copyright p{
	text-align: center;
	width:100%;
	height: 50%;
}


.pages {
	width: 75%;
	height: 100%;
	overflow: hidden;
    right: 0;
    margin-left: 25%;
}
