@import url("https://use.typekit.net/shm5nki.css");

:root{
  /**color**/
  --clr-white: #f5f5f5;
  --clr-black: #212121;
  --clr-accent: #d32f2f;

  /**typography**/
  --font-w-body: 19px;
  --font-m-body: 16px;
  --font-body: clamp(--font-m-body, 1.89vw, --font-w-body);
}

::selection{
  background: var(--clr-accent);
}

html{
  font-family: abadi, sans-serif;
  background-color: var(--clr-white);
}

a{
  color: var(--clr-white);
  text-decoration: none;
}

a:hover{
  color: var(--clr-accent);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#content{
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

img{
  width: 240px;
}

#content button{
  margin: 36px 0 12px 0;
  border: none;
  background: var(--clr-accent);
  color: var(--clr-white);
  padding: 12px 24px 12px 24px;
  font-size: 1em;
  border-radius: 36px;
  width: 240px;
}

#content button:hover{
  background: #DA5050;
}

#content button:focus{
  border: none;
}

#content a:hover{
  color: var(--clr-black);
}

#content a::selection{
  background: var(--clr-black);
}

#content a:hover::selection{
  color: var(--clr-white);
}

footer{
  height: 90%;
  background: var(--clr-black);
  color: var(--clr-white);
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul{
  padding: 0;
  display: flex;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 8px;
}

footer li{
  font-size: 32px;
}
