*{
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth !important; /*Smooth scrolling with pure CSS*/
}

a{
  text-decoration: none;
  color: black;
  transition: all .5s ease;
}

h2{
  margin-top: 100px;
}

body{
  background-color: white;
  font-weight: 400;
}

#navi{
  position:fixed;
  width: 100%;
  min-height: 72px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transition: all .5s ease;
}

.addnav {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.nav-container{
  display: flex;
  height: 72px;
  margin: 0 10% 0 10%;
  justify-content: space-between;
}

#menu{
  display: flex;
  align-items: center;
}

#hamburger {
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: black;
  transition: 0.4s;
}

.burgermode .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.burgermode .bar2 {opacity: 0;}

.burgermode .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

#menu > ul{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 24px;
  list-style-type: none;
  align-items: center;
}

#menu > ul > li > a{
  text-decoration: none;
  color: black;
}

#mobile-menu{
  background-color: white;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease-out;
}

#mobile-menu > ul{
  display: grid;
  grid-gap: 12px;
  list-style-type: none;
  align-items: center;
}

#mobile-menu > ul > li{
  padding: 18px 0 18px 0;
  text-align: center;
}

#mobile-menu > ul > li > a{
  text-decoration: none;
  color: black;
}

header{
  background: url('img/header2.jpg');
  height: 100vh;
  background-size: cover;
}

#title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

#more_info {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#tribute-info{
  margin: 0 10% 0 10%;
}

#about{
  display: flex;
  flex-direction: column;
  margin: 5% 0 0 0;
  text-align: center;
}

#about > div{
  display: flex;
  flex-direction: row;
  margin: 5% 0 0 0;
  flex-wrap: wrap;
  justify-content: center;
}

.img-div{
  margin: 0 3% 0 0;
}

.img-div > img{
  width: 400px;
}

.description{
  text-align: left;
  line-height: 30px;
  width: 600px;
}

#members{
  margin: 5% 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#members > div{
  margin: 5% 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.memberlist{
  padding: 3% 5% 3% 5%;
}

#album{
  margin: 5% 0 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#album > div{
  margin: 5% 0 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.albumlist{
  display: flex;
  padding: 3%;
}

.albumart {
  width: 25%;
  margin-right: 4%;
}

.albumlist > figcaption{
  text-align: left;
  align-self: center;
}

footer{
  background: #212121;
  margin: 5% 0 0 0;
  text-align: center;
  padding: 2% 0 3% 0;
  color: white;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons > a{
  color: white;
  font-size: 1.5rem;
  padding: 0.5% 1% 0 1%;
}

.aryne{
  color: white;
}

/**Media Queries for responsiveness**/
@media only screen and (max-width: 768px) {
  #album > div{
    grid-template-columns: repeat(1, 1fr);
  }
  #hamburger {
    display: grid;
    grid-gap: 4px;
  }
  #menu > ul{
    display:none;
  }
  .mobile-toggle #mobile-menu{
    height: auto;
    overflow: hidden;
    opacity: 1;
  }
  .mobile-toggle{
      background-color: white;
  }
}
@media only screen and (min-width: 768px) {
  #album > div{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media  only screen and (min-width: 992px) {
  #album > div{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media  only screen and (min-width: 1200px) {
  #album > div{
    grid-template-columns: repeat(3, 1fr);
  }
}
